
<div class="appointment container mt-5 pt">
 <app-user-settings  *ngIf="userSettingStateService.showUserSetting | async"></app-user-settings>
 <div  *ngIf="!(userSettingStateService.showUserSetting | async)">

 
  <div class="card widget-profile pat-widget-profile"  >
    <div class="card-body">
      <div class="pro-widget-content">
        <div class="profile-info-widget">
          <a href="#" class="booking-doc-img">
            <img src="../../../assets/images/avatar.png" alt="User Image">
          </a>
          <div class="profile-det-info">
            <h3>Richard Wilson</h3>
            
            <div class="patient-details">
              <h5><b>Patient ID :</b> PT0016</h5>
              <h5 class="mb-0"><i class="fas fa-map-marker-alt"></i> Newyork, United States</h5>
            </div>
          </div>
        </div>
      </div>
      <div class="patient-info">
        <ul>
          <li>Phone <span>+1 952 001 8563</span></li>
          <li>Age <span>38 Years, Male</span></li>
          <li>Blood Group <span>AB+</span></li>
        </ul>
      </div>
    </div>
  </div>
  <div id="pat_appointments" class="tab-pane fade show active">
    <div class="card card-table mb-0">
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-hover table-center mb-0">
            <thead>
              <tr>
                <th> Professionnel</th>
                <th>RV Date</th>
                <th>Reservation Date</th>
                <th>Prix</th>
               
                <th>Status</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <h2 class="table-avatar">
                    <a href="doctor-profile.html" class="avatar avatar-sm mr-2">
                      <img class="avatar-img rounded-circle" src="../../../assets/images/avatar.png" alt="User Image">
                    </a>
                    <a href="doctor-profile.html">Dr. Darren Elder <span>Dental</span></a>
                  </h2>
                </td>
                <td>14 Nov 2019 <span class="d-block text-info">10.00 AM</span></td>
                <td>12 Nov 2019</td>
                <td>$160</td>
                
                <td><span class="badge badge-pill bg-success-light">Confirm</span></td>
                <td class="text-right">
                  <div class="table-action">
                    <a href="javascript:void(0);" class="btn btn-sm bg-success-light">
                      <i class="far fa-edit"></i> Edit
                    </a>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <h2 class="table-avatar">
                    <a href="doctor-profile.html" class="avatar avatar-sm mr-2">
                      <img class="avatar-img rounded-circle" src="../../../assets/images/avatar.png" alt="User Image">
                    </a>
                    <a href="doctor-profile.html">Dr. Darren Elder <span>Dental</span></a>
                  </h2>
                </td>
                <td>12 Nov 2019 <span class="d-block text-info">8.00 PM</span></td>
                <td>12 Nov 2019</td>
                <td>$250</td>
               
                <td><span class="badge badge-pill bg-success-light">Confirm</span></td>
                <td class="text-right">
                  <div class="table-action">
                    <a href="javascript:void(0);" class="btn btn-sm bg-success-light">
                      <i class="far fa-edit"></i> Edit
                    </a>
                  </div>
                </td>
              </tr>
            
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
