
<div class="searchbar">
    <div class="search_bx">
        <div class="card">
            <i class="bi bi-geo-alt"></i> 
            <h4>Location</h4>
            <input type="text" placeholder="Location">
        </div>
        <div class="card">
            <i class="bi bi-calendar-check"></i>
            <h4> Date</h4>
            <input type="date">
        </div>
        <div class="card">
            <i class="bi bi-grid"></i>
            <h4> Catégorie</h4>
            <input type="text" placeholder="Catégorie">
        </div>
        <input type="button" value="Search">
    </div>
</div>