<div class="main">
    <div class="indicator">
        <ul class="progress_indicator">
            <li class="active">
                <samp class="bubble"></samp>
                Date/heure
            </li>
            <li class="active">
                <samp class="bubble"></samp>
                verification
            </li>
            <li class="active">
                <samp class="bubble"></samp>
                confirmation
            </li>
            <li class="active">
                <samp class="bubble end_bubble"></samp>
                Sucsse
            </li>
        </ul>
        <div class="card_category">
            <div class="card_category_top">
                <div class="card_img">
                    <img src="../../../assets/images/avatar.png" alt="category_image" srcset="">
                </div>
                <div class="card_profile">
                    <a [routerLink]="" class="profile_name">Dr foulen</a>
                    <p class="profile_spee"> dentiste</p>
                    <div class="profile_adr">
                        <i class="bi bi-geo-alt"></i>
                       <p> sousse </p>
                    </div>
                </div>
            </div>
            <div class="category_section">
                <app-date-calendar></app-date-calendar>
                <!-- <app-description></app-description> -->
            </div>
             
        </div>
    </div>
</div>
