<div class="main">
    <div class="indicator">
       
        <div class="card_category">
            <div class="card_category_top">
                <div class="card_img">
                    <img src="../../../assets/images/avatar.png" alt="category_image" srcset="">
                </div>
                <div class="card_profile">
                    <a [routerLink]="" class="profile_name">Dr foulen</a>
                    <p class="profile_spee"> dentiste</p>
                    <div class="profile_adr">
                        <i class="bi bi-geo-alt"></i>
                       <p> sousse </p>
                    </div>
                </div>
            </div>
            <div class="category_section">
                <app-date-calendar ></app-date-calendar> 
                <app-description ></app-description>
            </div>
            <div class=" d-flex me-2  mt-2 justify-content-end ">
                <button class="btn btn-sm  btn-primary me-2" >confirmer</button>
                <button class="btn btn-sm btn-danger">Annule</button>
               </div>
              
        </div>
    </div>
</div>
